.circle-wrapper {
	padding: 80px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.circle-preloader {
	display: block;
	width: 74px;
	height: 74px;
	border: 1px solid;
	border-image-slice: 1;
	border-image-source: linear-gradient(to left, #D1D2D6, #1A1B22);
	border-radius: 50%;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	animation: spin .75s infinite linear;
}

.circle__info {
	font-family: Roboto Slab, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 30px;
	text-align: center;
	color: #1A1B22;
}

.circle__text {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #B6BCBF;
	margin: 0;
	padding-top: 24px;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}
