.news__items {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(calc((100% - 136px)/3), 400px));
	grid-auto-rows: 576px;
	gap: 16px;
	align-content: center;
	justify-content: center;
	list-style: none;
	padding: 0;
	margin: 64px 0;
}

.news__title {
	font-family: Roboto Slab, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 34px;
	text-align: start;
	margin: 0;
}

@media screen and (max-width: 1024px) {
	.news__items {
		grid-template-columns: repeat(auto-fit, minmax(calc((100% - 96px)/3), 400px));
		grid-auto-rows: 420px;
		gap: 8px;
		margin: 32px 0;
	}
}

@media screen and (max-width: 720px) {
	.news__items {
		grid-template-columns: repeat(auto-fit, 288px);
		grid-auto-rows: 444px;
		margin: 32px 0;
		justify-content: center;
	}
}
